/* CLASS SPECIFIC SELECTOR STYLES */
.grid {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px auto auto;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    background-color: rgb(211, 211, 211);
    border: 1px solid #333;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: rgb(211, 211, 211);
    border: 1px solid #333;

}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    background-color: rgb(211, 211, 211);
    border: 1px solid #333;
    flex-shrink: 0;

}

.questionSection {
    display: flex;
    flex-direction: column;
}

.questionPrompt {
    font-size: large;
    font-style: italic;
}

.questionAnswerLabel {
    height: 30px;
    width: 100px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

input:checked + .questionAnswerLabel {
    border: 2px solid #000000;
    cursor: pointer;
}

/* TAG SPECIFIC SELECTOR STYLES */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {

}

div {

}
input {
    display: none;
}
